.container{
    margin-top: 50px;
}
.container form{
    display: flex;
}
.container input{
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(9, 255, 9);
    color: #ffff;
    font-size: 20px;
}
.container input::placeholder{
    color: #ffff;
}

.container button{
    height: 50px;
    width: 50px;
    color: #ffff;
    background: rgb(7, 255, 7);
    border-radius: 100%;
    font-size: 40px;
    border: 0;
}
